.cabecera {
  width: 100%;
  background-color: orange;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.cabecera-h1 {
  background-color: orange;
  border: 1em;
  border-color: grey;
}

..cabecera-a {
}
.cabecera-button {
  background-color: brown;
  display: none;
}
.cabecera-svg {
  width: 2em;
  height: 2em;
}
.cabecera-nav {
  background-color: bisque;
  color: black;
}

.cabecera-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.cabecera-li {
  margin: 0 0.5em;
}

@media screen and (max-width: 480px) {
  .cabecera-button {
    display: flex;
  }
  .cabecera-nav {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .cabecera-ul {
    flex-direction: column;
  }
  .cabecera-li {
    margin: 0.5em 0;
  }
}
